<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
</head>
<body>
<input type="text" name="name" id="name" placeholder="用户名"> <br>
<input type="text" name="password" id="password" placeholder="密码"> <br>

<input type="submit" id="btn" value="登录">
</body>
<script>
    $(function () {
        $("#btn").click(function () {
            $.post(
                '/user/login',
                {
                    name: $("#name").val(),
                    password: $("#password").val()
                },
                function (res) {
                    if(res.code == 0) {
                        window.location.href="main.html"
                    } else {
                        alert(res.msg)
                    }
                }
            )
        })
    })
</script>


</html>